<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="qlNhansu.My.MySettings.ConnectionString" connectionString="Provider=SQLNCLI11;Data Source=THINKPADT460\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=quanly_nhan_su"
            providerName="System.Data.OleDb" />
        <add name="qlNhansu.My.MySettings.connectNhanvien" connectionString="Provider=SQLOLEDB.1;Data Source=THINKPADT460\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=quanly_nhan_su"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>